{% from 'header/macro.njk' import header %}

{%- if disableSearch %}
  {{ header({
    "homeHref": "/",
    "ariaLabel": "NHS Volunteering homepage",
    "classes": "nhsuk-header--white",
    "service": {
      "name": "NHS Volunteering",
      "longName": "true"
    },
    "showNav": "true",
    "showSearch": "false",
    "searchAction": "/search/",
    "searchInputName": "search-field",
    "primaryLinks": [
      {
        "url"  : "/find-volunteering-opportunities-by-location",
        "label" : "NHS service standard"
      },
      {
        'url' : '/faqs',
        'label' : 'FAQs'
      },
      {
        'url'  : '/content',
        'label' : 'Content style guide'
      },
      {
        'url'  : '/accessibility',
        'label' : 'Accessibility'
      },
      {
        'url' : '/advice-and-guidance',
        'label' : 'Advice and Guidance'
      }
    ]
    })
  }}
{% else %}
  {{ header({
    "homeHref": "/",
    "ariaLabel": "NHS Volunteering  homepage",
    "service": {
      "name": "NHS Volunteering",
      "longName": "true"
    },
    "showNav": "true",
    "showSearch": "true",
    "searchAction": "/search/",
    "searchInputName": "search-field",
    "primaryLinks": [
      {
        "url"  : "/find-volunteering-opportunities-by-location",
        "label" : "NHS service standard"
      },
      {
        'url' : '/faqs',
        'label' : 'FAQs'
      },
      {
        'url'  : '/content',
        'label' : 'Content style guide'
      },
      {
        'url'  : '/accessibility',
        'label' : 'Accessibility'
      },
      {
        'url' : '/advice-and-guidance',
        'label' : 'Advice and Guidance'
      }
    ]
    })
  }}
{% endif %}
