{% set pageTitle = "Exploring volunteering opportunities" %}
{% set pageDescription = "Find out about the types volunteering roles in Health Care." %}
{% set pageSection = "Exploring volunteering opportunities" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}


  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>
<p>There is a wide range of unpaid opportunities that you could help with.

<p>Most of the activities will be in person. There are some that you will be able to carry out from the comfort of your home too.

<p>The types of activities, time commitment and training will depend on the needs of your Trust.

<p>There could be other factors to consider when choosing what activities you can get involved with.

<p>We want to ensure we do all we can so nothing is stopping you from volunteering with the NHS. If you have any concerns, discuss with the volunteering service manager what options are available and what we can do to assist you.

<p>Here are some of the most common activities:</p>

<h3>Front of house</h3>
<li>Information desk support</li>
<li>Meeting and greeting</li>
<li>Refreshment or library trolley services</li>
<li>Staffing hospital shops, cafes or libraries</li>
<br>

<h3>Patient and therapy support</h3>
<li>Ambulance service volunteer</li>
<li>Befriender, visitor or companion for patients</li>
<li>Hospital/virtual research volunteer</li>
<li>Mealtimes volunteer</li>
<li>Patient transport and other driving support services</li>
<li>Peer support and other roles using lived experience</li>
<li>Pets or animals therapy</li>
<li>Providing support to people with dementia</li>
<li>Supporting clinical service delivery</li>

<h3>Admin and volunteering support</h3>
<li>Admin or clerical support</li>
<li>Patient experience, surveys, or feedback collection</li>
<br>
<h3>Recreational activities</h3>
<li>Gardening</li>
<li>Hospital radio and live entertainment</li>
<li>Patient entertainment activities and exercise</li>
<br>
<h3>Volunteers success stories</h3>
<div class="app-card__video">
          <iframe src="https://www.youtube.com/embed/kWlgCO_t_NY" title="Volunteers success story from Barts Health NHS Trust" allowfullscreen=""></iframe>
        </div><br>
        <p> A brief video made about what it means to be a volunteer for Barts Health NHS Trust</p>

      {% endblock %}
