{% set pageTitle = "A to Z" %}
{% set pageDescription = "If you know the name of the Health Care organisation you would like to volunteer at please use the A to Z feature" %}
{% set pageSection = "Location and name" %}
{% set landingPage = true %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

  <p>Please be advised that some health care organisations will have more information and different ways to apply for volunteering opportunities whilst some may have minimal or no information, in this instance you are advised to contact the health care organisation directly using the contact details provided.</p>



  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>


  {% from 'card/macro.njk' import card %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2>A to Z of places where you can volunteer in the NHS</h2>

      <nav class="nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-4" id="nhsuk-nav-a-z" role="navigation" aria-label="A to Z Navigation">
        <ol class="nhsuk-list nhsuk-u-clear nhsuk-u-margin-0" role="list">
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#A">A</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
              <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#B">B</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#C">C</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#D">D</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#E">E</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#F">F</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#G">G</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#H">H</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#I">I</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#J">J</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#K">K</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#L">L</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#M">M</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#N">N</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#O">O</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#P">P</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Q">Q</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#R">R</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#S">S</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#T">T</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#U">U</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#V">V</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#W">W</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#X">X</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Y">Y</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block" href="#Z">Z</a>
          </li>
        </ol>
      </nav>

      {{ card({
          "feature": "true",
          "heading": "A",
          "headingClasses": "nhsuk-u-font-size-24",
          "descriptionHtml": "<ul class='nhsuk-list nhsuk-list--border'>
          <li><a href='https://www.airedale-trust.nhs.uk/work-with-us/volunteering-and-friends-of-airedale/'>Airedale NHS Foundation Trust</a></li>
          <li><a href='https://alderhey.nhs.uk/join-us/volunteering'>Alder Hey Children's NHS Foundation Trust</a></li>
          <li><a href='https://www.ashfordstpeters.nhs.uk/jointheteam/volunteers'>Ashford and St Peter's Hospitals NHS Foundation Trust</a></li>
          <li><a href='https://www.awp.nhs.uk/work-with-us/how-volunteer'>Avon and Wiltshire Mental Health Partnership NHS Trust</a></li>
        <li><a href='/volunteering-near-you'>Back to top</a></li>
        </ul>"
        }) }}

      {{ card({
          "feature": "true",
          "heading": "B",
          "headingClasses": "nhsuk-u-font-size-24",
          "descriptionHtml": "<ul class='nhsuk-list nhsuk-list--border'>
          <a name='B'></a>
          <li><a href='https://www.bhrhospitals.nhs.uk/volunteering-roles'>Barking, Havering and Redbridge University Hospitals NHS Trust</a></li>
          <li><a href='https://www.beh-mht.nhs.uk/'>Barnet, Enfield and Haringey Mental Health NHS Trust</a> George Alexandrou:No volunteering webpage for BEH could be found</li>
          <li><a href='https://www.barnsleyhospital.nhs.uk/work-for-us/become-a-volunteer'>Barnsley Hospital NHS Foundation Trust</a></li>
          <li><a href='https://www.bartshealth.nhs.uk/volunteers'>Barts Health Care Trust</a></li>

            <li><a href='#'>Barnsley Hospital NHS Foundation Trust</a></li>
<li><a href='#'>Barts Health NHS Trust</a></li>
<li><a href='#'>Bedford Hospital NHS Trust</a></li>
<li><a href='#'>BEDFORDSHIRE HOSPITALS NHS FOUNDATION TRUST</a></li>
<li><a href='#'>Berkshire Healthcare NHS Foundation Trust</a></li>
<li><a href='#'>Birmingham and Solihull Mental Health NHS Foundation Trust</a></li>
<li><a href='#'>Birmingham Community Healthcare NHS Foundation Trust</a></li>
<li><a href='#'>Birmingham Women's and Children's NHS Foundation Trust</a></li>
<li><a href='#'>Black Country Healthcare NHS Foundation Trust</a></li>
<li><a href='#'>Blackpool Teaching Hospitals NHS Foundation Trust</a></li>
<li><a href='#'>Bolton NHS Foundation Trust</a></li>
<li><a href='#'>Bradford District NHS Foundation Trust</a></li>
<li><a href='#'>Bradford Teaching Hospitals NHS Foundation Trust</a></li>
<li><a href='#'>Bridgewater Community Healthcare NHS Foundation Trust</a></li>
<li><a href='#'>Brighton and Sussex University Hospitals NHS Trust</a></li>
<li><a href='#'>Buckinghamshire Healthcare NHS Trust</a></li>
<li><a href='#'>Burton Hospitals NHS Foundation Trust</a></li>
<li><a href='/volunteering-near-you'>return to top</a></li>

        </ul>"
        }) }}

      {# {{ listPanel({
        "label": "B",
        "id": "B",
        "disable": "true",
        "backToTop": "true",
        "backToTopLink": "#nhsuk-nav-a-z",
        "message": "There are currently no conditions listed"
      }) }} #}

      {{ card({
          "feature": "true",
          "heading": "C",
          "headingClasses": "nhsuk-u-font-size-24",
          "descriptionHtml": "<ul class='nhsuk-list nhsuk-list--border'>
          <a name='C'></a>  <li><a href='#'>Calderdale and Huddersfield NHS Foundation Trust</a></li>
  <li><a href='#'>Cambridge University Hospitals NHS Foundation Trust</a></li>
  <li><a href='#'>Cambridgeshire and Peterborough NHS Foundation Trust</a></li>
  <li><a href='#'>Cambridgeshire Community Services NHS Trust</a></li>
  <li><a href='#'>Camden and Islington NHS Foundation Trust</a></li>
  <li><a href='#'>Central and North West London NHS Foundation Trust</a></li>
  <li><a href='#'>Central London Community Healthcare NHS Trust</a></li>
  <li><a href='#'>Chelsea and Westminster Hospital NHS Foundation Trust</a></li>
  <li><a href='#'>Cheshire and Wirral Partnership NHS Foundation Trust</a></li>
  <li><a href='#'>Chesterfield Royal Hospital NHS Foundation Trust</a></li>
  <li><a href='#'>City Hospitals Sunderland NHS Foundation Trust</a></li>
  <li><a href='#'>Cornwall Partnership NHS Foundation Trust</a></li>
  <li><a href='#'>Countess Of Chester Hospital NHS Foundation Trust</a></li>
  <li><a href='#'>County Durham and Darlington NHS Foundation Trust</a></li>
  <li><a href='#'>Coventry and Warwickshire Partnership NHS Trust</a></li>
  <li><a href='#'>Croydon Health Services NHS Trust</a></li>
  <li><a href='#'>Cumbria Northumberland Tyne and Wear NHS Foundation Trust</a></li>
<li><a href='/volunteering-near-you'>return to top</a></li>
        </ul>"
        }) }}

      {#{{ listPanel({
        "label": "C",
        "id": "C",
        "backToTop": "true",
        "backToTopLink": "#nhsuk-nav-a-z",
        "items": [
          {
            "URL": "/conditions/chest-pain/",
            "link": "Chest pain"
          },
          {
            "URL": "/conditions/cold-sores/",
            "link": "Cold sore"
          }
        ]
      }) }} #}

      {{ card({
          "feature": "true",
          "heading": "D",
          "headingClasses": "nhsuk-u-font-size-24",
          "descriptionHtml": "<ul class='nhsuk-list nhsuk-list--border'>
            <a name='D'></a>

            <li><a href='#'>Dartford and Gravesham NHS Trust</a></li>
  <li><a href='#'>Derbyshire Community Health Services NHS Foundation Trust
  <li><a href='#'>Derbyshire Healthcare NHS Foundation Trust
  <li><a href='#'>Devon Partnership NHS Trust
  <li><a href='#'>Doncaster and Bassetlaw Teaching Hospitals NHS Foundation Trust
  <li><a href='#'>Dorset County Hospital NHS Foundation Trust
  <li><a href='#'>Dorset Healthcare University NHS Foundation Trust
  <li><a href='#'>Dudley Integrated Health and Care NHS Trust
<li><a href='/volunteering-near-you'>return to top</a></li>
        </ul>"
        }) }}



    </div>
  </div>
{% endblock %}
{% endblock %}
