{% set pageTitle = "Volunteer Locally" %}
{% set pageDescription = "Find volunteering opportunities in your area or by the name of the Health Care organisation " %}
{% set pageSection = "Location and name" %}
{% set landingPage = true %}
{% set hideContact = "true" %}


{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

  <p>Use the A to Z feature below to help you find volunteering opportunities in your area, please be advised that some health care organisations will have more information and different ways to apply for volunteering opportunities whilst some may have minimal or no information, in this instance you are advised to contact the health care organisation directly using the contact details provided.</p>



  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>


{% endblock %}
