{% set pageTitle = "Charities and foundations" %}
{% set pageDescription = "Find out how charities and foundations can help you volunteer in Health Care" %}
{% set pageSection = "Community and contribution" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}


  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
