{% set pageTitle = "Charities and foundations" %}
{% set pageDescription = "Find out how charities and foundations can help you volunteer in Health Care" %}
{% set pageSection = "Community and contribution" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}
<ul>
<li><a href="https://www.asdan.org.uk/courses/">ASDAN</a></li>

<li><a href="https://www.royalvoluntaryservice.org.uk">Royal Voluntary Service</a></li>

<li><a href="https://nhscharitiestogether.co.uk/making-volunteering-more-accessible">NHS Charities Together</a></li>

<li><a href="https://www.healthcareers.nhs.uk/explore-roles/doctors/applying-medical-school/gaining-experience-medical-school/volunteering-opportunities">How volunteering can help prepare you for a medical career</a></li>

<li><a href="https://www.ncvo.org.uk/about-us/media-centre/constructive-voices/stories/2652-the-volunteers-complementing-the-work-of-the-nhs">The National Council for Voluntary Organisations</a></li>


<li><a href="https://doit.life/volunteer">Do it</a></p>
<ul>
  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
