{% set pageTitle = "FAQs" %}
{% set pageDescription = "Frequently Asked Questions about volunteering in the NHS." %}
{% set pageSection = "FAQs" %}
{% set landingPage = true %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}



  <p>Lorem ipsum</p>

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
