{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/faqs",
      text: "FAQs"
    }
  ],
  href: "/faqs/patterns",
  text: "Patterns",
  classes: "app-breadcrumb"
}) }}
