{{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    },
    {
      href: "/how-to-get-involved",
      text: "Design system"
    }
  ],
  href: "/how-to-get-involved/components",
  text: "Components",
  classes: "app-breadcrumb"
}) }}
