{% set pageTitle = "Get involved" %}
{% set pageDescription = "There are different ways to support the NHS depending on the type of volunteering role that you are looking for. Examples and sources of information are given below." %}
{% set pageSection = "Get involved" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}


{% block content %}
{% block bodyContent %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<p>1. Regular volunteering for your local hospital or ambulance trust
There are many volunteering options in hospital settings such as ward and department volunteers, administrative support, fundraising, patient participation groups or Foundation Trust governors. Each hospital is likely to have a choice of volunteering options, coordinated by a Volunteer Service Manager. Ambulance Trusts also have a range of volunteering roles from providing patient transport to being a Community First Responder who supports and reassures patients while an ambulance is on the way. Information about how to get involved will be on NHS organisation websites and you can find contact details here for your local NHS organisations.
Some voluntary roles may also be advertised on NHS Jobs.</p>

<p>2. Regular volunteering for an organisation that works with the NHS
Voluntary organisations support the NHS in a wide range of ways which give extra help and comfort to patients and reduce pressure on our staff. The following websites include useful information.

NCVO (National Council for Voluntary organisations) web page ‘I want to volunteer’ for everything you need to know to get started.
Volunteering Matters for volunteering opportunities in your local area.</p>

<p>3. Support the NHS and people in your local community with specific tasks, fitted around other commitments
If you would like to vary the amount of time you give and fit short spells of volunteering around work or other commitments the NHS Volunteer Responders is the ideal way to get involved. Visit the NHS Volunteer Responders website for details about the roles available and how tasks or shifts are offered through a smartphone app.
    </p></div>
  </div>
{% endblock %}

{% endblock %}
