{% set pageTitle = "How to get involved" %}
{% set pageDescription = "Volunteering guidance for how to get involved" %}
{% set pageSection = "Get Involved" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}


  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

<p>
<p>Anyone can apply to become a volunteer. The starting age may vary but is usually between 16 and 18. There is no upper age limit.

<p>Some Trusts open applications at a specific time. Other Trusts accept applications throughout the year.

<p>When no opportunities are available, some Trusts may ask you to register your interest with them. In other cases, you may need to keep checking their webpage for any openings.

<p>We outline some of the generic processes and timelines here. You can refer to your chosen Trust for more detailed information.

<h3>What applying could look like</h3>
<p>Most times you will need to complete an application form. You may need to include details of your past experience and some character references.

<p>Here is an example of what an application form (opens in new tab) could look like.

<h3>Creating an inclusive environment</h3>
<p>We welcome applications from volunteers from all walks of life and backgrounds.

<p>It is our aim to create a service that reflects the diverse communities that we serve.

<p>We will continue to work with those who identify with ethnic minority groups, disabilities, less affluent backgrounds and other protected characteristics to ensure that our service continues to be open to everyone.

<p>If you have any questions, talk to the manager of your volunteering service. They can work with you to see how they can best support you.

<h3>Getting started</h3>
<li>You may need to provide proof of your identity and address.
<li>Depending on your volunteering role, you may need to go through some checks. These could include occupational health and Disclosure and Barring Service (DBS) checks.
<li>You may also need to go through some mandatory training on:
<li>equality, diversity and human rights
<li>fire safety
<li>health, safety and welfare
<li>infection prevention and control
<li>information governance</p>


{% endblock %}
