{% set pageTitle = "how-to-get-involved" %}
{% set pageDescription = "Volunteering guidance for how-to-get-involved" %}
{% set pageSection = "Design system" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}


  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

  <p>An estimated three million people volunteer in health and care. The time volunteers give every day, in a very wide range of roles, makes a valuable contribution to the quality of care patients’ experience.

Volunteering is a key enabler in transforming the way the NHS works with people and communities and is essential for the success of the <a href="https://www.england.nhs.uk/wp-content/uploads/2014/10/5yfv-web.pdf">Five Year Forward </a>View and particularly Chapter 2 which identifies the need to ‘encourage community volunteering’.

NHS England has produced guidance to offer practical support and information for how-to-get-involved to enable them to support the strategic ambition to grow and develop volunteering in the NHS. It will help providers:</p>

<ul>
<li>develop the right processes, procedures and frameworks to support quality volunteering opportunities that makes an impact</li>
<li>achieve a balance in their approach; ensuring effective processes for recruitment and management of volunteers are in place without creating unnecessary barriers or being too risk-averse</li>
<li>ensure that the approach is accessible and inclusive, there are opportunities for a diverse range of people and volunteers reflect the communities in which we work. This includes involving people who experience the most health inequalities as volunteering can help to reduce these and</li>
<li>identify existing good practice and develop a framework based on <a href="https://investinginvolunteers.co.uk/">Investing in Volunteers</a>, a recognised standard for volunteer management also recommended by the <a href="https://www.gov.uk/government/publications/jimmy-savile-nhs-investigations-lessons-learned">Lampard Inquiry</a> as a way for NHS trusts to formally review their volunteering programmes.</li>

<h2>Who is it for?</h2>
<p>This guidance is aimed at how-to-get-involved across a range of settings including hospitals, primary care, general practice and community services. The guidance does not deal with every setting or context but includes good practice and approaches that can be applied flexibly to ensure recruitment and management is appropriate for the nature of the volunteer role and the context in which it takes place.

It will be most useful for:</p>

<ul>
<li>those who have a role in recruiting and managing volunteers, particularly voluntary service managers and volunteer coordinators;</li>
<li>other personnel including clinical staff who work with volunteers;</li>
<li>Board members and senior management who have a strategic responsibility for volunteering;</li>
<li>Voluntary, community or private sector organisations who work in partnership with the NHS and involve volunteers in NHS settings.</li>
</ul>
<a href="https://www.england.nhs.uk/publication/recruiting-and-managing-volunteers-in-nhs-providers-a-practical-guide">Recruiting and Managing Volunteers in NHS Providers – a practical guide (September 2017)</a>
</ul>

{% endblock %}
