{% set pageTitle = "What is volunteering" %}
{% set pageDescription = "What volunteering with the NHS means" %}
{% set pageSection = "Find out about volunteering for the NHS" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}


{% block content %}
{% block bodyContent %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<p>It means you will be offering yourself to some of the organisations that make up the NHS. We call them Trusts.

<p>An NHS Trust can be:</p>

<li>the hospitals in your local area</li>
<li>other dedicated units that offer services such as ambulance, community health care and mental health care.
</li><br>
<p>Sometimes, the charity at your hospital might manage volunteering opportunities. You will be volunteering with them in the NHS.
</p>
<p>You will not receive payment for your time and skills. You might get reimbursement for some expenses, depending on your role.</div>
  </div>
</p>{% endblock %}

{% endblock %}
