{% set pageTitle = "Cadets" %}
{% set pageDescription = "NHS Cadets is an exciting programme being rolled out across England in partnership with St John Ambulance. " %}
{% set pageSection = "Get involved" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "whats-new/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
<p>It supports 14–18-year-olds from communities with less access to volunteering to find out what it is like to work in health and care, and to consider this as a future career choice. NHS Cadets learn first aid, develop their leadership and practical skills, and are offered rewarding healthcare volunteering opportunities. Further details are available on the St John Ambulance website.</p>

{% endblock %}
