{% set pageTitle = "Youth volunteering" %}
{% set pageDescription = "Many NHS organisations are opening up volunteer roles for young people from the age of 16, and some now offer youth volunteering programmes for 16 and 17-year-olds." %}
{% set pageSection = "Get involved" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "whats-new/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

<p> Young volunteers not only have a positive impact within the NHS, the experience they gain is often beneficial for them. For example by developing skills such as team working and problem-solving which are crucial for future success in education and the workplace.</p>

{% endblock %}
