{% set pageTitle = "Youth volunteering" %}
{% set pageSection = "Content style guide" %}
{% set dateUpdated = "August 2019" %}
{% set backlog_issue_id = "315" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "content/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}

  <p>Many NHS organisations are opening up volunteer roles for young people from the age of 16, and some now offer youth volunteering programmes for 16 and 17-year-olds. </p>
<p>Young volunteers not only have a positive impact within the NHS, the experience they gain is often beneficial for them.</p>
For example by developing skills such as team working and problem-solving which are crucial for future success in education and the workplace.
</p>
{% endblock %}

{% block asideContent %}
  {% include "./partials/related-nav.njk" %}
{% endblock %}
