{% set pageTitle = "Why volunteer in health and care?" %}
 % set pageDescription = "" %}
{% set pageSection = "Content style guide" %}
{% set landingPage = true %}
{% set hideContact = "true" %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}

<p>Many NHS organisations and charities need help from volunteers. This is a great way to support the NHS and get involved in your community. Local NHS Trust websites usually include details of how to get involved. Volunteers are crucial to the NHS’s vision for the future of health and social care, as partners with our skilled staff, not as substitutes for them. There are more than 300 types of role in the NHS alone, providing challenging and rewarding opportunities for people of all age and backgrounds. Some can be a one-off, like a hospital garden makeovers or fundraising. Others can last for months or even years, like running a hospital radio show, helping with administration in a hospice or taking part in advisory groups.</p>

  <h2>Feedback</h2>
  <p>Let us know about your visit to the service manual today by filling in <a href="https://feedback.digital.nhs.uk/jfe/form/SV_9GIQAEkm6gfFCWp">our survey on the Qualtrics website</a>.</p>

  <h2>More about the way we work</h2>
  <p>Listen to a BBC radio interview about content design and the NHS website.</p>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      <div class="nhsuk-card nhsuk-card--clickable">
        <img class="nhsuk-card__img" src="/assets/word-of-mouth.jpg" alt="">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading"><a href="https://www.bbc.co.uk/programmes/m000dpkc">Interview: Word of Mouth - NHS language use</a></h3>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-0"><span class="nhsuk-u-visually-hidden">First aired on: </span>January 2020</p>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-font-weight-bold">BBC Radio 4 - 28 minutes</p>
          <p class="nhsuk-card__description">Michael Rosen talks with Sara Wilcox, NHS website content designer, and consultant Dr Hugh Rayner, about the words we choose for the NHS website and for letters consultants write to patients</p>
        </div>
      </div>
    </div>
  </div>
  <p class="nhsuk-body-s nhsuk-u-margin-top-7 nhsuk-u-secondary-text-color">
    Page last reviewed: 27 March 2018<br>
    Next review due: 27 March 2021
  </p>
  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
