{% set pageTitle = "Advice and Guidance" %}
{% set pageDescription = "Find out what you need to be able to volunteer in Health Care." %}
{% set pageSection = "Advice and Guidance" %}
{% set landingPage = true %}

{% extends "includes/app-layout.njk" %}

{% block bodyContent %}


  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
